{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>班级管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>


    <form id="user_form" enctype="multipart/form-data" method="post">
        <input type="hidden" name="form_submit" value="ok" />
        <input type="hidden" name="school_id" value="<?php echo $class_array['schoolid'];?>" />
        <table class="ds-default-table">
            <tbody>
                <tr class="noborder">
                    <td colspan="2" class="required"><label>{$Think.lang.school_index_classname}:<?php echo $class_array['classname'];?></label></td>
                </tr>

                <tr class="noborder">
                    <td colspan="2" class="required"><label>{$Think.lang.school_index_type}:
                        {volist name="schooltype" id="type"}
                        {if condition="$class_array.typeid eq $type.sc_id"}
                        {$type.sc_type}
                        {/if}
                        {/volist}
                    </label></td>
                </tr>
                <tr class="noborder">
                    <td colspan="2" class="required"><label>{$Think.lang.school_index_name}:<?php echo $schoolinfo['name'];?></label></td>
                </tr>
                <tr class="noborder">
                    <td colspan="2" class="required"><label>{$Think.lang.school_index_schoolregion}:<?php echo $class_array['school_region'];?></label></td>
                </tr>
                <tr class="noborder">
                    <td colspan="2" class="required"><label>{$Think.lang.school_index_desc}:<?php echo $class_array['desc'];?></label></td>
                </tr>

            </tbody>
        </table>
    </form>

</div>