{include file="public/header" /}
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" name="form1" action="">
        <div class="ncap-form-default">
            <dl>
                <dt>{$Think.lang.school_index_classname}：{$class_array.classname}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_classunique}：{$class_array.classCard}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_type}：{volist name="schooltype" id="type"}
                    {$type}
                    {/volist}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_name}：{$schoolname}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_schoolregion}：{$class_array.school_region}</dt>
            </dl>
            <dl>
                <dt>{$Think.lang.school_index_desc}：{$class_array.desc}</dt>
            </dl>

        </div>
    </form>

</div>








