{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselections_list.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>班级管理</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="get" name="formSearch" id="formSearch">
        <table class="search-form">
            <tbody>
                <tr>
                    <td> <label>{$Think.lang.school_index_classname}：</label></td>
                    <td><input type="text" class="text w150" name="school_index_classname" value="{$Think.get.school_index_classname}"></td>

                    <td> <label>班级识别码：</label></td>
                    <td><input type="text" class="text w150" name="classCard" value="{$Think.get.classCard}"></td>

                    <!--<td> <label>班级位置：</label></td>-->
                    <!--<td><input type="text" class="text w150" name="school_index_classname" value="{$Think.get.school_index_classname}"></td>-->


                <td id="class_list">
                    <select name="type_name" id="class_name">
                        <option value="">所属年级</option>
                        {volist name="schooltype" id="v"}
                        <option value="{$v.sc_id}" {if condition='$Think.get.type_name eq $v.sc_id'}selected='selected'{/if}>{$v.sc_type}</option>
                        {/volist}
                    </select>
                </td>
                    <td>
                        <input type="submit" class="submit" value="搜索">
                        <a href="{:url('Classes/index')}" class="btns"><span>{$Think.lang.ds_cancel_search}</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>
        </ul>
    </div>
    <table class="ds-default-table">
        <thead>
        <tr class="thead">
            <!--<th>&nbsp;</th>-->
            <th colspan="align-center">{$Think.lang.school_index_id}</th>
            <th class="align-center">{$Think.lang.school_index_classname}</th>
            <th class="align-center">所属年级</th>
            <th class="align-center">{$Think.lang.school_index_classunique}</th>
            <th class="align-center">所属房间</th>
            <!--<th class="align-center">{$Think.lang.school_index_name}</th>-->
            <!--<th class="align-center">{$Think.lang.school_index_region}</th>-->
            <th class="align-center">{$Think.lang.school_index_time}</th>
            <th class="align-center">{$Think.lang.school_index_desc}</th>
            <?php  if(session('admin_is_super') ==1 || (in_array('4',$action) || in_array('3',$action) || in_array('2',$action) || in_array('11',$action))){?>
            <th class="align-center">{$Think.lang.ds_handle}</th>
            <?php } ?>
        </tr>
        <tbody>
        <?php if(!empty($class_list) && is_array($class_list)){ ?>
        <?php foreach($class_list as $k => $v){ ?>
        <tr class="hover member">
            <!--<td class="align-center"><input type="checkbox" name='del_id[]' value="<?php echo $v['schoolid']; ?>" class="checkitem"></td>-->
            <td class="align-center"><?php if(!$_GET['page']){  echo $k+1; }else{ echo ($_GET['page']-1)*15+$k+1; }?></td>
            <td class="align-center"><?php echo $v['classname']; ?></td>
            <td class="align-center"><?php echo $v['typename']; ?></td>
            <td class="align-center"><?php echo $v['classCard']; ?></td>
            <td class="align-center"><?php echo $v['position']; ?></td>
            <!--<td class="align-center"><?php echo $v['schoolname']; ?></td>-->
            <!--<td class="align-center"><?php echo $v['school_region']; ?></td>-->
            <td class="align-center"><?php echo $v['createtime']; ?></td>
            <td class="align-center"><?php echo $v['desc']; ?></td>
            <td class="align-center">
                <?php if(session('admin_is_super') ==1 || in_array('4',$action)){ ?>
                <a href="javascript:dd({$v.classid})" class="layui-btn layui-btn-xs"">{$Think.lang.ds_view}</a>
                <?php } ?>
                <?php if(session('admin_is_super') ==1 || in_array('3',$action)){ ?>
                <a href="{:url('/school/classes/edit',['class_id'=>$v.classid])}" class="layui-btn layui-btn-xs">{$Think.lang.ds_edit}</a>
                <?php } ?>
                <?php if(session('admin_is_super') ==1 || in_array('2',$action)){ ?>
                <a href="javascript:void(0)" onclick="if(confirm('{$Think.lang.ds_ensure_del}'))
                location.href='{:url('/school/classes/drop',['class_id'=>$v.classid])}';" class="layui-btn layui-btn-xs">{$Think.lang.ds_del}</a>
                <?php } ?>
                <?php if(session('admin_is_super') ==1 || in_array('11',$action)){ ?>
                <a href="{:url('/school/classes/addstudent',['class_id'=>$v.classid])}" class="layui-btn layui-btn-xs">{$Think.lang.school_class_studentadd}</a>
                <?php } ?>
            </td>
        </tr>
        <?php } ?>
        <?php }else { ?>
        <tr class="no_data">
            <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        <?php } ?>
        </tbody>
        <tfoot class="tfoot">
        <?php if(!empty($member_list) && is_array($member_list)){ ?>
        <tr>
            <td class="w24"><input type="checkbox" class="checkall" id="checkallBottom"></td>
            <td colspan="16">
                <label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_member').submit();}"><span>{$Think.lang.ds_del}</span></a>
            </td>
        </tr>
        <?php } ?>
        </tfoot>
    </table>
    {$page}
    
</div>

<script type="text/javascript">
    function dd(id) {
        var urls=ADMIN_URL+'classesinfo/index?class_id='+id;
        //多窗口模式，层叠置顶
        layer.open({
            type: 2
            , title: '查看'
            , area: ['80%', '80%']
            , shade: 0
            , maxmin: true
            , content: urls

        });
    }

    $(function() {
        regionInit("region");
    });
</script>