{include file="public/header" /}
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h2>学校/归属代理商信息</h2>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation" style="width:100%;box-sizing: border-box;">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>当前用户详情信息。</li>
        </ul>
    </div>
    <form method="post" id="admin_form" method="post" enctype="multipart/form-data" class="layui-form">
        <div class="ncap-form-default">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">--代理商信息</label>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">归属代理商</label>
                    <div class="layui-input-inline">
                        <?php echo $company['o_name']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">代理商身份</label>
                    <div class="layui-input-inline">
                        <?php if($company['o_role']==0){echo "总公司";}elseif($company['o_role']==1){echo "县区代理";}elseif($company['o_role']==2){echo "省级代理";}
                         elseif($company['o_role']==3){echo "市级代理";}elseif($company['o_role']==4){echo "特约代理";} ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">代理商地区</label>
                    <div class="layui-input-inline">
                        <?php echo $company['o_area']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">代理商地址</label>
                    <div class="layui-input-inline">
                        <?php echo $company['o_address']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">代理商电话</label>
                    <div class="layui-input-inline">
                        <?php echo $company['o_phone']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">----学校信息</label>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学校名称</label>
                    <div class="layui-input-inline">
                        <?php echo $school['name']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学校识别码</label>
                    <div class="layui-input-inline">
                        <?php echo $school['schoolCard']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学校地址</label>
                    <div class="layui-input-inline">
                        <?php echo $school['address']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学校电话</label>
                    <div class="layui-input-inline">
                        <?php echo $school['common_phone']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学校负责人</label>
                    <div class="layui-input-inline">
                        <?php echo $school['username']; ?>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">合同截止日期</label>
                    <div class="layui-input-inline">
                        <?php echo $school['dieline']; ?>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>


    //按钮先执行验证再提交表单
    $(function() {
        $("#submitBtn").click(function() {
            if ($("#admin_form").valid()) {
                $("#admin_form").submit();
            }
        });
    });
    $(document).ready(function() {
        var admin_id = "{$info.admin_id}";
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^1[345678]\d{9}$/;/*/^1(3|4|5|7|8)\d{9}$/*/
            return this.optional(element) || (length == 11 && mobile.test(value));
        });
        $("#admin_form").validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.nextAll('span.err'));
            },
            rules: {
                admin_phone: {
                    required: true,
                    isMobile:true,
                    remote: {
                        url: ADMIN_URL+'/Admin/ajax.html?branch=check_admin_phone_edit',
                        type: 'get',
                        data: {
                            admin_phone: function() {
                                return $('#admin_phone').val();
                            },admin_id:admin_id
                        }
                    }
                }
            },
            messages: {
                admin_phone: {
                    required: '{$Think.lang.admin_add_phone_tip}',
                    isMobile: '{$Think.lang.admin_edit_valid_phone}',
                    remote: '{$Think.lang.admin_add_admin_phone_not_exists}'
                }
            }
        });
    });
</script>