{include file="public/header" /}
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<script src="{$Think.config.url_domain_root}static/ckplayer/ckplayer.js"></script>
<style>
    .info_p{
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        color: #666;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .info_p a{
        color: #0D93BF;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.look_monitor_title}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" class="layui-form">
        <div class="layui-form-item">
            <!--<div class="layui-inline">-->
                <!--<div class="layui-input-inline">-->
                    <!--<input name="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入关键字搜索" class="layui-input" type="tel">-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select  lay-filter="province"  class="select"  lay-verify="type" name="province" id="province">
                        <option value="0" selected>{$Think.lang.look_address_province}</option>
                        {volist name="province" id="vo"}
                        <option value="{$vo.area_id}" >{$vo.area_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city" lay-filter="city"  class="select"  lay-verify="type"  id="city">
                        <option value="0">{$Think.lang.look_address_city}</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="area" lay-filter="area"  class="select"  lay-verify="type"  id="area">
                        <option value="0">{$Think.lang.look_address_area}</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="school" lay-filter="school"  class="select"  lay-verify="type"  id="school">
                        <option value="0" selected="">{$Think.lang.look_address_school}</option>
                        {volist name="school" id="vo"}
                        <option value="{$vo.schoolid}" >{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="grade" lay-filter="grade"  class="select"  lay-verify="type"  id="grade">
                        <option value="0">{$Think.lang.look_address_grade}</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="class" lay-filter="class"  class="select"  lay-verify="type"  id="class">
                        <option value="0">{$Think.lang.look_address_class}</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" data-type="reload" id="submitBtn">{$Think.lang.look_camera_search}</button>
            </div>

        </div>
    </form>
    <?php if(!empty($video)){ ?>
    <div class="layui-card-header">
        <h3 class="panel-title" style="text-align: center;">
            <?php if($schoolname!=''){ ?>
            <span style="color:#E00515;">（{$schoolname}）</span><?php } ?>{$Think.lang.look_revisit_jk_ts}
        </h3>
    </div>
    <div class="layui-fluid layui-card-body" id="LAY-component-grid-list">
        <div class="layui-row layui-col-space10 demo-list">
            <?php foreach($video as $k=>$v){ ?>
            <input id="rtmp{$k}" type="hidden" value="{$v.rtmpplayurl}">
            <input id="image{$k}" type="hidden" value="{$v.imageurl}">
            <div class="layui-col-sm4">
                <!-- 填充内容 -->
                <div class="layui-card">
                    <div id="video{$k}" style="width: 600px; height: 400px;"></div>
                    <script type="text/javascript">
                        var videoObject = {
                            container: '#video'+{$k}, //容器的ID或className
                            variable: 'player',//播放函数名称
                            autoplay:false,
                            live:true,
                            debug:true,
                            video: $("#rtmp"+{$k}).val(),
                            poster:$("#image"+{$k}).val()
                        };
                        var player = new ckplayer(videoObject);
                    </script>
                </div>
                <p class="info_p">{$v.cameraname}</p>
            </div>
            <?php } ?>
    </div>
</div>
    <?php } ?>
    <!--<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
        <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
        <span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span>
        <a href="javascript:;" data-page="2">2</a>
        <a href="javascript:;" data-page="3">3</a>
        <a href="javascript:;" data-page="4">4</a>
        <a href="javascript:;" data-page="5">5</a>
        <a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a>
    </div>-->
</div>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form;
        //省
            form.on('select(province)', function (data) {
                $.ajax({
                    type: 'POST',
                    url: ADMIN_URL + 'Common/get_address_school?province=' + data.value,
                    success: function (data) {
                        data = jQuery.parseJSON(data);
                        //改变市区
                        $('#city').html(data.city);
                        //改变县区
                        $('#area').html(data.area);
                        //改变学校
                        $('#school').html(data.school);
                        //改变年级
                        $('#grade').html(data.grade);
                        //改变班级
                        $('#class').html(data.class);
                        form.render('select');//select是固定写法 不是选择器
                    }
                })
            });
        //市
        form.on('select(city)', function(data){
            var province = $('#province').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //县/区
        form.on('select(area)', function(data){
            var province = $('#province').find('option:selected').val();
            var city = $('#city').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //学校
        form.on('select(school)', function(data){
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_school_infos?school='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //年级
        form.on('select(grade)', function(data){
            var school = $('#school').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_school_infos?school='+school+'&grade='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
    });

    $("#submitBtn").click(function() {
            var province=$("#province").val();
            var city=$("#city").val();
            var area=$("#area").val();
            var school=$("#school").val();
            var grade=$("#grade").val();
            var classid=$("#class").val();
                   $.ajax({
                        url: "{:url('/Admin/monitor/monitor')}",
                        type: 'POST',
                        dataType: 'json',
                        data: {'province': province,'city':city,'area':area,'school':school,'grade':grade,'classid':classid},
                        success:function(sb){
                           if (sb.m) {
                               layer.msg(sb.ms, {icon: 16,time: 500},function(){
                               window.location.href="{:url('/Admin/Company/index')}";
                             });

                          }
                    }
                  });

    });
</script>
