{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>教师认证申请</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <!--<form method="get" name="formSearch" id="formSearch" class="layui-form">-->
    <form method="get" name="formSearch" id="formSearch">
        <table class="search-form">
            <tbody>
               <tr>
                   <td> <label>手机号：</label></td>
                   <td><input type="text" name="user" value="{$Think.get.user}"></td>
                   <td> <label>{$Think.lang.teacher_index_name}：</label></td>
                   <td><input type="text" name="username" value="{$Think.get.username}"></td>
                   <td> <select name="teacher_status" lay-verify="type" class="select">
                            <option value="">{$Think.lang.teacher_index_status}</option>
                            <option value="1" {if condition='$Think.get.teacher_status eq 1'}selected='selected'{/if}>待审核</option>
                            <option value="2" {if condition='$Think.get.teacher_status eq 2'}selected='selected'{/if}>审核失败</option>
                            <option value="3" {if condition='$Think.get.teacher_status eq 3'}selected='selected'{/if}>审核通过</option>
                        </select></td>
                   <td> <label>{$Think.lang.teacher_index_certime}：</label></td>
                   <td>
                       <input type="text" class="txt date" name="query_start_time" id="query_start_time" value="{$Think.get.query_start_time}" placeholder="请输入开始时间">
                       &nbsp;–&nbsp;
                       <input id="query_end_time" class="txt date" type="text" name="query_end_time" value="{$Think.get.query_end_time}" placeholder="请输入结束时间">
                   </td>
                     <td class="layui-inline">   <input type="submit" class="submit" value="搜索">
                        <a href="{:url('Teachercertify/index')}" class="btns"><span>{$Think.lang.ds_cancel_search}</span></a>
                        </td>
               </tr>
            </tbody>
        </table>
    </form>
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>
        </ul>
    </div>
    <table class="ds-default-table">
        <thead>
        <tr class="thead">
            <th colspan="align-center">{$Think.lang.teacher_index_id}</th>
            <!--<th class="align-center">{$Think.lang.teacher_index_user}</th>-->
            <th class="align-center">{$Think.lang.teacher_index_name}</th>
            <th class="align-center">{$Think.lang.teacher_index_phone}</th>
            <!--<th class="align-center">{$Think.lang.teacher_index_idcard}</th>-->
            <th class="align-center">{$Think.lang.teacher_index_cardimg}</th>
            <th class="align-center">{$Think.lang.teacher_index_cardimg_fan}</th>
            <th class="align-center">{$Think.lang.teacher_index_certificate}</th>
            <!--<th class="align-center">{$Think.lang.teacher_index_certificate_fan}</th>-->
            <th class="align-center">{$Think.lang.teacher_index_regiest}</th>
            <th class="align-center">{$Think.lang.teacher_index_certime}</th>
            <th class="align-center">{$Think.lang.teacher_index_status}</th>
            <th class="align-center">{$Think.lang.ds_common_save_failreason}</th>
            <!--<?php  if(session('admin_is_super') ==1 || (in_array('4',$action) || in_array('3',$action) || in_array('2',$action) || in_array('10',$action) || in_array('6',$action))){?>-->
            <th class="align-center">{$Think.lang.ds_handle}</th>
            <!--<?php }?>-->
            <!--<th class="align-center">{$Think.lang.teacher_index_desc}</th>-->
        </tr>
        <tbody>
        <?php if(!empty($teacher_list) && is_array($teacher_list)){ ?>
        <?php foreach($teacher_list as $k => $v){ ?>
        <tr class="hover member">
            <td class="align-center"><?php if(!$_GET['page']){  echo $k+1; }else{ echo ($_GET['page']-1)*15+$k+1; }?></td>
            <!--<td class="align-center"><?php echo $v['member_mobile']; ?></td>-->
            <td class="align-center"><?php echo $v['username']; ?></td>
            <td class="align-center"><?php echo $v['phone']; ?></td>
            <!--<td class="align-center"><?php echo $v['idcard']; ?></td>-->
            <td class="align-center"><img src="<?php echo $path.$v['cardimg']; ?>" alt="" width="80px" height="40px"></td>
            <td class="align-center"> <img src="<?php echo $path.$v['cardimg_fan']; ?>" alt="" width="80px" height="40px"></td>
            <td class="align-center"><img src="<?php echo $path.$v['certificate']; ?>" alt="" width="80px" height="40px"></td>
            <!--<td class="align-center"><img src="<?php echo $path.$v['certificate_fan']; ?>" alt="" width="80px" height="40px"></td>-->
            <td class="align-center"><?php echo date("Y-m-d H:i:s",$v['member_add_time']); ?></td>
            <td class="align-center"><?php echo date("Y-m-d H:i:s",$v['createtime']); ?></td>
            <td class="align-center"><?php if($v['status']==1){
                                    echo "待审核";
                                    }elseif($v['status']==2){
                                    echo "审核通过";
                                    }elseif($v['status']==3){
                                    echo "审核失败";
                                    } ?></td>
            <td class="align-center"><?php echo $v['failreason']; ?></td>
            <!--<td class="align-center">-->
                <!--<?php if($v['status']==1){ ?>-->
                <!--<a href="{:url('/admin/teachercertify/drop',['teacher_id'=>$v.id])}" class="layui-btn layui-btn-xs">{$Think.lang.teacher_index_pass}</a>-->
                <!--<?php }elseif($v['status']==2){  ?>-->
                <!--<a href="{:url('/admin/teachercertify/drop',['teacher_id'=>$v.id])}" class="layui-btn layui-btn-xs">{$Think.lang.teacher_index_repass}</a>-->
                <!--<?php }else{ ?>-->
                <!--无-->
                <!--<?php }  ?>-->
            <!--</td>-->
            <td class="align-center">
                <?php if($v['status']==1){ ?>
                <a href="{:url('/admin/teachercertify/pass',['teacher_id'=>$v.id])}" class="layui-btn layui-btn-xs">{$Think.lang.teacher_index_pass}</a>
                <?php }elseif($v['status']==2){  ?>
                <a href="{:url('/admin/teachercertify/pass',['teacher_id'=>$v.id])}" class="layui-btn layui-btn-xs">{$Think.lang.teacher_index_repass}</a>
                <?php }else{ ?>
                无
                <?php }  ?>
            </td>
            <!--<td class="align-center"><?php echo $v['desc']; ?></td>-->
        </tr>
        <?php } ?>
        <?php }else { ?>
        <tr class="no_data">
            <td colspan="11">{$Think.lang.ds_no_record}</td>
        </tr>
        <?php } ?>
        </tbody>
        <tfoot class="tfoot">
        <?php if(!empty($member_list) && is_array($member_list)){ ?>
        <tr>
            <td class="w24"><input type="checkbox" class="checkall" id="checkallBottom"></td>
            <td colspan="16">
                <label for="checkallBottom">{$Think.lang.ds_select_all}</label>
                &nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" onclick="if(confirm('{$Think.lang.ds_ensure_del}')){$('#form_member').submit();}"><span>{$Think.lang.ds_del}</span></a>
            </td>
        </tr>
        <?php } ?>
        </tfoot>
    </table>
    {$page}
    
</div>

<form class="layui-form" onsubmit="return false;" style="display: none;" id="courForm">
    <input type="hidden" id="role" value="">
    <div  class="ncap-form-default">
        <dl>
            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.admin_index_username}</dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="admin_name" name="admin_name" value="" class="input-txt" type="text">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="err"></span>
                <p class="notic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.admin_add_username_tip}</p>
            </dd>
        </dl>
        <dl>
            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.admin_index_password}</dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="admin_password" name="admin_password" value="" class="input-txt" type="password">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="err"></span>
                <p class="notic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.admin_add_password_tip}</p>
            </dd>
        </dl>
        <dl>
            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.admin_rpassword}</dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="admin_rpassword" name="admin_rpassword" value="" class="input-txt" type="password">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="err"></span>
                <p class="notic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.lang.admin_add_password_tip}</p>
            </dd>
        </dl>
        <input type="hidden" name="gid" value="{$role}">
        <dl>
            <dd>&nbsp;&nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" id="submitBtn">确认提交</a></dd>
        </dl>
    </div>

</form>
<script type="text/javascript">
    layui.use(['form','laypage', 'layer'], function(){
        var form = layui.form,
            laypage = layui.laypage
            ,layer = layui.layer;
        //关键字搜索
        var name = '<?php if(!empty($_GET["name"])){echo $_GET["name"];}?>';
        //省 市 区
        var province = '<?php if(!empty($_GET["province"])){echo $_GET["province"];}?>';
        var city = '<?php if(!empty($_GET["city"])){echo $_GET["city"];}?>';
        var area = '<?php if(!empty($_GET["area"])){echo $_GET["area"];}?>';
        //学校 年级 班级
        var school = '<?php if(!empty($_GET["school"])){echo $_GET["school"];}?>';
        var grade = '<?php if(!empty($_GET["grade"])){echo $_GET["grade"];}?>';
        var class_name = '<?php if(!empty($_GET["class"])){echo $_GET["class"];}?>';
        if(province != 0){
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+area+'&school='+school,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变市区
                    $('#city').html(data.city);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        }

        if(school != 0){
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_school_info?school='+school+'&grade='+grade+'&class='+class_name,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        }

        //省
        form.on('select(province)', function(data){
            //改变市区
            $('#city').html('<option value="0">{$Think.lang.look_address_city}</option>');
            //改变县区
            $('#area').html('<option value="0">{$Think.lang.look_address_area}</option>');
            //改变年级
            $('#grade').html('<option value="0">{$Think.lang.look_address_grade}</option>');
            //改变班级
            $('#class').html('<option value="0">{$Think.lang.look_address_class}</option>');

            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变市区
                    $('#city').html(data.city);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //市
        form.on('select(city)', function(data){
            //改变县区
            $('#area').html('<option value="0">{$Think.lang.look_address_area}</option>');
            //改变年级
            $('#grade').html('<option value="0">{$Think.lang.look_address_grade}</option>');
            //改变班级
            $('#class').html('<option value="0">{$Think.lang.look_address_class}</option>');
            var province = $('#province').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变县区
                    $('#area').html(data.area);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //县/区
        form.on('select(area)', function(data){
            //改变年级
            $('#grade').html('<option value="0">{$Think.lang.look_address_grade}</option>');
            //改变班级
            $('#class').html('<option value="0">{$Think.lang.look_address_class}</option>');
            var province = $('#province').find('option:selected').val();
            var city = $('#city').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_address_school?province='+province+'&city='+city+'&area='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变学校
                    $('#school').html(data.school);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //学校
        form.on('select(school)', function(data){
            //改变年级
            $('#grade').html('<option value="0">{$Think.lang.look_address_grade}</option>');
            //改变班级
            $('#class').html('<option value="0">{$Think.lang.look_address_class}</option>');
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_school_info?school='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变年级
                    $('#grade').html(data.grade);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });
        //年级
        form.on('select(grade)', function(data){
            //改变班级
            $('#class').html('<option value="0">{$Think.lang.look_address_class}</option>');
            var school = $('#school').find('option:selected').val();
            $.ajax({
                type:'POST',
                url:ADMIN_URL+'Common/get_school_info?school='+school+'&grade='+data.value,
                success:function(data){
                    data = jQuery.parseJSON(data);
                    //改变班级
                    $('#class').html(data.class);
                    form.render('select');//select是固定写法 不是选择器
                }
            })
        });

        //分页
        laypage.render({
            elem: 'page'
            ,count: '<?php echo $list_count;?>'
            ,limit:2
            ,layout: ['count', 'prev', 'page', 'next',  'skip']
            ,jump: function(obj){
                // console.log(obj);
                var page = obj.curr,
                    page_count = obj.limit;
                $.ajax({
                    type:'POST',
                    url:ADMIN_URL+'Camera/get_list',
                    data:{name:name,province:province,city:city,area:area,school:school,grade:grade,class:class_name,page:page,page_count:page_count},
                    success:function(data){
                        data = jQuery.parseJSON(data);

                        // console.log(data.html);
                        $('#html').html(data.html);
                        $('#count').html(data.count+'个');
                    }
                })

            }
        });

    });
    function dd(id) {
        var urls=ADMIN_URL+'schoolinfo/index?school_id='+id;
        //多窗口模式，层叠置顶
        layer.open({
            type: 2
            , title: '查看'
            , area: ['80%', '80%']
            , shade: 0
            , maxmin: true
            , content: urls

        });
    }
function jia(role){
            $('#role').val(role);
            //var urls=ADMIN_URL+'organizes/admin?role_id='+id;
            //多窗口模式，层叠置顶
            layer.open({
                type: 1,
                title: '分配管理员账号',
                area: ['700px', '450px'],
                fixed: false, //不固定
                shadeClose: true,
                shade: 0.4,
                maxmin: false, //开启最大化最小化按钮
                content: $("#courForm")
            });
        }
    $(function() {
        regionInit("region");
    });
    //按钮先执行验证再提交表
    $(document).ready(function() {

        layui.use(['form', 'layedit', 'laydate'], function() {
            var form = layui.form
        });
        //按钮先执行验证再提交表单
        $("#submitBtn").click(function() {
            if ($("#courForm").valid()) {
                //$("#courForm").submit();
                //$('.layui-layer-close1').click();
                var admin_name = $("#admin_name").val();
                var admin_password = $("#admin_password").val();
                $.ajax({
                    url: "{:url('/Admin/school/admin_add')}",
                    type: 'POST',
                    dataType: 'json',
                    data: {'admin_name': admin_name,'admin_password':admin_password},
                    success:function(sb){
                        if (sb.m) {
                            layer.msg(sb.ms, {icon: 16,time: 500},function(){
                                window.location.href="{:url('/Admin/School/member')}";
                            });

                        }
                    }
                });

            }
        });
        $("#courForm").validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.nextAll('span.err'));
            },
            rules: {
                admin_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 20,
                    remote: {
                        url: ADMIN_URL+'/Admin/ajax.html?branch=check_admin_name',
                        type: 'get',
                        data: {
                            admin_name: function() {
                                return $('#admin_name').val();
                            }
                        }
                    }
                },
                admin_password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                admin_rpassword: {
                    required: true,
                    equalTo: '#admin_password'
                },
                gid: {
                    required: true
                }
            },
            messages: {
                admin_name: {
                    required: '{$Think.lang.admin_add_username_null}',
                    minlength: '{$Think.lang.admin_add_username_max}',
                    maxlength: '{$Think.lang.admin_add_username_max}',
                    remote: '{$Think.lang.admin_add_admin_not_exists}'
                },
                admin_password: {
                    required: '{$Think.lang.admin_add_password_null}',
                    minlength: '{$Think.lang.admin_add_password_max}',
                    maxlength: '{$Think.lang.admin_add_password_max}'
                },
                admin_rpassword: {
                    required: '{$Think.lang.admin_add_password_null}',
                    equalTo: '{$Think.lang.admin_edit_repeat_error}'
                },
                gid: {
                    required: '{$Think.lang.admin_add_gid_null}',
                }
            }
        });
    });
</script>
