{include file="public/header" /}
<link rel="stylesheet" href="{$Think.config.url_domain_root}static/plugins/layer/css/layui.css">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>通用设置/APP</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" name="form1" class="layui-form">

        <div class="ncap-form-default">
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-block">
                    <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <dl>
                <dt>{$Think.lang.teacher_children}</dt>
                <dd>
                    <input id="site_name" name="site_name" value="{$list_config.site_name}" class="input-txt" type="text">
                    <span class="err"></span>
                    <p class="notic">{$Think.lang.web_name_notice}</p>
                </dd>
            </dl>

            <dl>
                <dt></dt>
                <dd><a href="JavaScript:void(0);" class="btn" onclick="document.form1.submit()">确认提交</a></dd>
            </dl>
        </div>
    </form>

</div>








