{include file="public/header" /}
<script src="{$Think.config.url_domain_root}static/common/js/mlselection3.js"></script>
<script src="{$Think.config.url_domain_root}static/home/js/common.js"></script>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>机器人增加</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>
    
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom">
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示" class="arrow"></span>
        </div>
        <ul>
            <li>添加打卡机器人</li>
        </ul>
    </div>


    <form id="user_form" enctype="multipart/form-data" method="post">
        <table class="ds-default-table">
            <tbody>
                <tr class="noborder">
                    <td colspan="2" class="required"><label class="validation" for="SNNumber">机器人ID:</label></td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform"><input type="text" value="" name="SNNumber" id="SNNumber" class="txt"></td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required"><label class="validation" for="member_password">学校所在地区:</label></td>
                </tr>
                <tr>
                    <td id="region">
                        <select name="typeid" id="typeid">
                            <option value="">请选择分类</option>
                            {volist name="region_list" id="region"}
                                <option value="{$region.area_id}">{$region.area_name}</option>
                            {/volist}
                        </select>
                    </td>
                </tr>
                <tr class="noborder">
                    <td colspan="2" class="required"><label>选择学校:</label></td>
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td id="school_list">
                        <select name="school_name" class="querySelect">
                            <option value="">请选择学校名称</option>
                        </select>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required"><label>备注:</label></td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform"><input type="text" value="" id="desc" name="desc" class="txt"></td>
                    <td class="vatop tips"></td>
                </tr>
                <tr>
                    <td colspan="2" class="required"><label>使用状态:</label></td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform">
                        <label>
                            <input type="radio" value="1" name="isdel" checked="checked">使用
                        </label>
                        <label>
                            <input type="radio" value="2" name="isdel">禁用
                        </label>
                    </td>
                    <td class="vatop tips"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td colspan="15"><input class="btn" type="submit" value="{$Think.lang.ds_submit}"/></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function() {
        regionInit("region");
        //按钮先执行验证再提交表单
        $("#submitBtn").click(function() {
            if ($("#user_form").valid()) {
                $("#user_form").submit();
            }
        });
    });
</script>
